<form [formGroup]="shareform" (ngSubmit)="Share()" *ngIf="!link">
<div class="text-center">
  <h3>Share File</h3>
</div>
  <div class="mt-5 text-center">
    <i class="{{filetype(this.docdata.type)}}"></i>
    <div class="title p-t-15">
      <h3>{{this.docdata.title}}</h3>
    </div>
    <div class="text p-b-10">
      <span>by {{this.docdata.author}}</span>
    </div>
    <a>{{convetdate(this.docdata.Date)}}</a>
      <div class="text-inside">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Password"  formControlName="password" required>
              <mat-error *ngIf="shareform.controls.password.hasError('required')">
                  Please enter password
              </mat-error>
              <mat-error *ngIf="shareform.controls.password.hasError('pattern')">
                  Please enter valid password
              </mat-error>
              <mat-error *ngIf="shareform.controls.password.hasError('minLength')">
                Please enter more than 6 characters
            </mat-error>
          </mat-form-field>
      </div>

  </div>
  <div class="mt-5">
    <div class="row  text-center m0">
      <div class="col-6  text-center p0" >
        <button class="btn btn-success w-100" type="submit" [disabled]="shareform.invalid"  mat-button>Share</button>
      </div>
      <div class="col-6  text-center p0" >
        <a class="btn btn-danger w-100"  mat-button>Cancel</a>
      </div>
    </div>
  </div>
</form>
<div *ngIf="link">
  <div class="mt-5 text-center">
    <i class="{{filetype(this.docdata.type)}}"></i>
    <div class="title p-t-15">
      <h3>{{this.docdata.title}}</h3>
    </div>
    <div class="text p-b-10">
      <span>by {{this.docdata.author}}</span>
    </div>
    <a>{{convetdate(this.docdata.Date)}}</a>
    <p class="mt-5">{{link}}</p>
    <button class="btn btn-success w-100 mt-3"    mat-button>Copy Link</button>
  </div>
</div>
