<section class="content">
  <div class="container-fluid">
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-green order-info-box1">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Users</h4>
            <h2 class="text-right"><i class="fas fa-users pull-left"></i><span>6</span></h2>
            <p class="m-b-0"></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-purple order-info-box2">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Documents</h4>
            <h2 class="text-right"><i class="fas fa-briefcase pull-left"></i><span>20</span></h2>
            <p class="m-b-0"></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-cyan order-info-box3">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Docx</h4>
            <h2 class="text-right"><i class="far fa-file-word pull-left"></i><span>5</span></h2>
            <p class="m-b-0"></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-green order-info-box4">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Xlsx</h4>
            <h2 class="text-right"><i class="far fa-file-excel pull-left"></i><span>5</span></h2>
            <p class="m-b-0"></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-orange order-info-box5">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Pptx</h4>
            <h2 class="text-right"><i class="far fa-file-powerpoint pull-left"></i><span>5</span></h2>
            <p class="m-b-0"></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-red order-info-box6">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Pdf</h4>
            <h2 class="text-right"><i class="far fa-file-pdf pull-left"></i><span>5</span></h2>
            <p class="m-b-0"></p>
          </div>
        </div>
      </div>


    </div>



  </div>
</section>

